html,
body {
	height: 100%;
}

#cover {

}

#coverAbout {
	background: url("imgs/oldToronto.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

#coverNow {
	background: url("imgs/montreal.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

#coverContact {
	background: url("imgs/eastEndToronto.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.titleclass {
	text-align: center;
	font-size: 24px;
	color: #003399;
	font-weight: bold;
	text-transform: uppercase;
}